body {
    display: flex; 
    flex-direction: column; 
    border: 3px solid #6630A4;
    width: 50%;
}
section {
    display: flex; 
    flex-direction: row;
    width: 100%; 
}

div {
    text-align: center;
    flex: 1; 
    padding:30px 30px 30px 30px;
    border: .2px solid #6630A4; 
    background-color: #E3A3EA; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%; 
}

div:hover {
    background-color: #c874d2;
}

.clear-button {
    flex: 1 1 0;
}

.output {
    flex: 9 1 0;
}
.output:hover {
    background-color: #E3A3EA;
}